@font-face {
  font-family: 'Inter';
  src: url(../../vendor/fonts/Inter-Regular.woff2) format("woff2"),
       url(../../vendor/fonts/Inter-Regular.woff) format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/fonts/Inter-ExtraBold.woff2) format("woff2"),
       url(../../vendor/fonts/Inter-ExtraBold.woff) format("woff");
   font-style: normal;
   font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/fonts/Inter-Bold.woff2) format("woff2"),
       url(../../vendor/fonts/Inter-Bold.woff) format("woff");
   font-style: normal;
   font-weight: bold;
}

.root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2a2c2f;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
