.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
  margin: 0 auto 32px;
  max-width: 560px;
  position: relative;
  z-index: 1;
}

 @media screen and (max-width: 625px) {
  .cover__title {
  font-size: 32px;
  line-height: 35px;
  }
 }
