.footer {
  margin: 92px auto 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px*2);
}

@media screen and (max-width: 768px) {
  .footer {
  margin-top: 88px;
  width: calc(100% - 24px*2);
 }
}

@media screen and (max-width: 560px) {
  .footer {
   flex-direction: column;
   margin-top: 64px;
   width: calc(100% - 16px*2);
  }
}
