.place__description {
  grid-area: description;
  object-fit: contain;
  /*width: calc(100% - 16px*2);*/
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .place__description {
    width: calc(100% - 16px*2);
  }
 }
